.comment {
  position: relative;
  box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);

  &__wrapper {
    margin-top: 30px;
  }

  &__quotes {
    position: absolute;
    top: 40px;
    left: 15px;
    width: 34px;
    height: 15px;
    margin-bottom: 5px;
    font-size: 80px;
    line-height: 15px;
  }

  &__text {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
  }

  &__text:last-child {
    margin-bottom: 0;
  }

  &__author {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 15px;
    padding: 0;
    padding-left: 65px;
  }

  &__author-name {
    font-size: 12px;
    line-height: 20px;
    color: rgba(230, 92, 123, 0.7);
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__date {
    line-height: 20px;
    color: rgba(142, 128, 169, 0.7)
  }
}

