.member {
  display: flex;

  &__wrapper {
    width: 230px;
  }

  &__vc {
    display: flex;
    flex-direction: row;
    width: 230px;
    background-color: #ffffff;
    box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2); 
  }

  &__name {
    margin: 20px 0;
    margin-left: 15px;
    font-size: 10px;
    line-height: 15px;
    color: #e65c7b;
    & p {
      margin: 0;
      margin-top: 5px;
      padding: 0;
      font-size: 10px;
      line-height: 20px;
      color: #8e80a9; 
    }
  }

  &__about {
    margin-bottom: 25px;
  }

  &__title {
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: 'Geometria-Medium', sans-serif;
    line-height: 20px;
    color: #e65c7b;
  }

  &__text {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }

  &__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: 20px;
  }

  &__icon {
    width: 18px;
    height: 12px;
  }
}
