.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    width: 250px;
    margin: 0;
    margin-bottom: 30px;
    padding: 30px 15px;
    background-color: #ffffff;
  }

  &__slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
  }

  &__slider-btn {
    display: block;
    width: 31px;
    height: 16px;
    padding: 4.5px;
  }

  &__slide-num {
    margin: 0 10px;
    font-size: 12px;
    line-height: 20px;
  }
}

