.section {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  &__title {
    margin: 0 auto;
    margin-bottom: 40px;
    
    font-size: 18px;
    line-height: 0;

    @media (min-width: $width-medium) {
      margin-bottom: 45px;
      font-size: 21px;
      line-height: 15px
    }

    @media (min-width: $width-large) {
      margin-bottom: 45px;
      font-size: 30px;
      line-height: 15px
    }
  }
}
