.ticket {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $width-medium) {
    &:not(.ticket--active) > .button {
      display: none;
    }

    &:not(.ticket--active) {
      width: 176px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Geometria-Bold', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  &__timing {
    width: 140px;
    margin-bottom: 20px;
    text-align: center;
    color: #e65c7b;
  }

  &__price {
    font-family: 'Geometria-Bold', Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
  }

  &__order {
    width: 148px;
    margin-top: 25px;
    padding: 14px 23px;
    border: 0;

    font-family: 'Geometria-Medium', Arial, sans-serif;
    font-size: 10px;
    line-height: 20px;
    color: #ffffff;
    background-color: #8E80A9;
  }
}
